@CHARSET "utf-8";


/* 사이트 이름 */


.site img {width:80px; height:60px; border:none;}


.boxA{ padding-top:10px;
padding-bottom:5px;
 background-color:yellow;
 display:block; 

 overflow:hidden;
 marign:0 auto;}
 
 

.box1 {float:left;}
.box2 {float:right;}
.boxA_inner{
	width:1140px;
	margin:0 auto;
	
}

/* 네비게이션*/

.menu ul{
	
	margin:0;
	padding:0;
	list-style:none;
	
}


.menu li a{
	
	
	display:block;
	padding:10px 15px;
	color:#A6A6A6;
	font-size:14px;
	text-decoration:none}
	
}
.p{
	
	color:red;
	font-size:70px;
}

.menu ul:after{content:""; display:block; clear:both}
.menu li {float:left; width:auto}



